.btnPomodoro {
    width: 120px;
    padding: 5px;
    margin: 7px;
    border-radius: 20px;
    text-align: center;
    align-self: center;
    cursor: pointer;
    transition: .2s ease;
}

.btnRosa {
    background-color: #FF147E;
    color: #F0F0F0;
}

.btnBranco {
    background-color: #E2D2F1;
    color: #340379;
}

.btnPomodoro:hover {
    transform: scale(1.1);
    border-radius: 5px;
}

.btnPomodoro:active {
    filter: brightness(0.8);
    transform: scale(0.97);
}


@media (max-width: 600px) {
    .btnPomodoro {
        width: 110px;
        padding: 7px;
        margin: 5px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .btnPomodoro {
        width: 105px;
        padding: 9px 0;
        margin: 3px;
    }
}