.footer {
    width: 300px;
    height: auto;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer>h3 {
    font-size: 20px;
    margin-top: 10px;
}

.txtName {
    font-family: 'New Rocker';
    color: #FF147E;
    font-size: 20px;
}

.btnDiv {
    display: flex;
    padding: 10px 0;
    gap: 10px;
}

.btnDiv>a {
    color: inherit;
    text-decoration: none;
    transition: all .3s ease;
}

a:hover, a:focus {
    transform: scale(1.2);
    filter: brightness(1.2);
}

a:active {
    transform: scale(0.95);
    filter: brightness(.8);
}
