.task {
    width: 400px;
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #F0F0F0;
    border-radius: 5px;
}

.task>input[type="checkbox"] {
    appearance: none;
    margin: 0 5px;
    transform: scale(1.5);
    cursor: pointer;
}

input[type="checkbox"]::before {
    content: "";
    width: 12px;
    height: 12px;
    display: block;
    border-radius: 2px;
    border: 1px solid #F0F0F0;
}

input[type="checkbox"]:checked::before {
    background-color: #FF147E;
}

.task>p {
    font-size: 18px;
    transition: all .3s ease;
}

.done {
    text-decoration: line-through;
    filter: brightness(.5);
}

.task>button {
    border: none;
    background: transparent;
    cursor: pointer;
    margin: 0 5px;
}

.editIcon {
    width: 20px;
    transition: transform .3s ease;
}

.editIcon:hover, .editIcon:focus {
    transform: scale(1.2);
}

@media (max-width: 600px) {
    .task {
        width: 380px;
    }
}

@media (max-width: 480px) {
    .task {
        width: 330px;
    }

    .task>p {
    font-size: 16px;
}
}