@font-face {
  font-family: 'Evil Empire';
  src: url('assets/Evil\ Empire.otf') format('OpenTyfe');
}
@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=New+Rocker&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}