@font-face {
  font-family: 'Evil Empire';
  src: url('assets/Evil\ Empire.otf') format('OpenTyfe');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Evil Empire', system-ui, -apple-system, sans-serif;
  background-color: #340379;
}

html,
body,
#root {
  height: 100%;
}